
{% extends 'main.html' %}
  
{% block content %}

<body>
    

      <div class="container pt-5">

      {% for Question in Questions %}
      
      
      <div class="card my-3">
        <div class="card-header">
          <h3> {{ Question.question_text }}</h3>
          <a href="{% url 'enquetes:question_detail' Question.id %}"> votar </a>
          <a href="{% url 'enquetes:question_results' Question.id %}"> ver parcial</a>
        </div>
      </div>

      
      {% endfor %}
    
      </div>


{% endblock %}

